body {
    background: linear-gradient(90deg, #da61ff 30%, #0062ff);
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
  }
  
  #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: left;
  }
  
  .custom-placeholder {
    font-style: italic;
    color: blue;
  }
  
  .box {
    background: linear-gradient(20deg, white 30%, rgb(197, 192, 192));
    margin-left: 600px;
    margin-top: -300px;
    border: 2px solid gray;
    border-radius: 40px;
    padding: 90px 70px 100px 70px;
    margin-bottom: 500px;
  }